<div class="container">
<div class="list row" >
  <div class="col-md-8">
  </div>
  <div class="col-md-6">
    <h4>Lista książek</h4>
    <ul class="list-group">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tytuł</th>
              <th scope="col">Liczba stron</th>
              <th scope="col">Imię autora</th>
              <th scope="col">Naziwko autora</th>
              <th scope="col">Edycja</th>
              <th scope="col">Usuwanie</th>
            </tr>
          </thead>
          <tbody>
      <tr
       
        *ngFor="let book of books; let i = index"

      >
      <th scope="row">{{i+1}}</th>
      <td>{{ book.bookName }}</td>
      <td>{{ book.pagecount }}</td>
      <td>{{ book.author.authorName }}</td>
      <td>{{ book.author.authorSurname }}</td>
      <td><button type="button" class="btn btn-dark" [disabled]="shouldDisable(book.bookId)" (click)="toggle(book.bookId, book.bookName)">Edytuj</button></td>
      <td><button type="button" class="btn btn-danger" (click)="DeleteBook(book.bookId)" >Usuń</button></td>
        
        
          </tr>
  </tbody>
</table>

     
    </ul>

  <button type="button" class="btn btn-dark" [routerLink]="['/addbook']">Dodaj nową książe</button>


  </div>

  </div>

  <ng-container *ngIf="show">
    <div class="submit-form">
      <div class="form-group">
          <label for="bookName">Tytuł książki</label>
          <input
              type = "text"
              class = "form-control"
              required
              placeholder="{{name}}"
              [(ngModel)]="book.bookName"
              name="bookName"
          />
      </div>

      <div class="form-group">
          <label for="pagecount">Liczba stron</label>
          <input
              type = "number"
              class = "form-control"
              min="0"
              required
              [(ngModel)]="book.pagecount"
              name="pagecount"
          />
      </div>

      <div class="form-group">
        Wybierz autora
    <select class="form-select" aria-label="Default select example"
    [(ngModel)]="book.authorId">
        <option value="1"
        *ngFor="let author of authors;"
        [ngValue]="author.authorId">{{ author.authorName }} {{ author.authorSurname }}</option>

      </select>
    </div>

      <button (click)="EditBook()" [routerLink]="['/listbookauthor']" class="editbtn btn btn-success">Edytuj</button>
</div>
  </ng-container>
  </div>