<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">WST app</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="listbookauthor" class="nav-link">Lista książek</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="addauthors" class="nav-link">Dodaj Autora</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="listauthor" class="nav-link">Lista autorów</a>
      </li>
      <li class="nav-item">
        <a routerLink="listcustomer" class="nav-link">Lista klientów</a>
      </li>
      <li class="nav-item">
        <a routerLink="listborrow" class="nav-link">Lista wypożyczeń</a>
      </li>

    </div>
  </nav>
 
  

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>