<div class="submit-form">
 
        <div class="form-group">

            <label for="bookName">Tytuł książki</label>
            <input
                type = "text"
                class = "form-control"
                required
                [(ngModel)]="book.bookName"
                name="bookName"
            />
        </div>

        <div class="form-group">
            <label for="pagecount">Liczba stron</label>
            <input
                type = "number"
                class = "form-control"
                min="0"
                required
                [(ngModel)]="book.pagecount"
                name="pagecount"
            />
        </div>

        <div class="form-group">
            Wybierz autora
        <select class="form-select" aria-label="Default select example"
        [(ngModel)]="book.authorId">
            <option value="1"
            *ngFor="let author of authors;"
            [ngValue]="author.authorId">{{ author.authorName }} {{ author.authorSurname }}</option>

          </select>
        </div>

        <button (click)="saveBook()" class="editbtn btn btn-success">Utwórz</button>
 

</div>


