<div class="submit-form">
    
        <div class="form-group">
            <label for="authorname">Imię Autora</label>
            <input
                type = "text"
                class = "form-control"
                required
                [(ngModel)]="author.authorName"
                name="authorname"
            />
        </div>

        <div class="form-group">
            <label for="authorSurname">Nazwisko Autora</label>
            <input
                type = "text"
                class = "form-control"
                required
                [(ngModel)]="author.authorSurname"
                name="authorSurname"
            />
        </div>

        <button (click)="saveAuthor()" class="editbtn btn btn-success">Utwórz</button>
    

</div>


