<div class="submit-form">
    <div *ngIf='!submitted'>
        <div class="form-group">
            <label for="authorname">Imię Autora</label>
            <input
                type = "text"
                class = "form-control"
                required
                [(ngModel)]="author.authorName"
                name="authorname"
            />
        </div>

        <div class="form-group">
            <label for="authorSurname">Nazwisko Autora</label>
            <input
                type = "text"
                class = "form-control"
                required
                [(ngModel)]="author.authorSurname"
                name="authorSurname"
            />
        </div>

        <button (click)="saveAuthor()" class="btn btn-success">Utwórz</button>
    </div>

        <div *ngIf="submitted">
    
            <h2>Formularz został wysłany :)</h2>
            <button (click)="newAuthor()" class="btn btn-success">Dodaj nowego autora</button>

        </div>

</div>


